@{
    ViewData["Title"] = "Cuisine";
}

<div class="container">
    <div class="row header">
        <div>
            <h2>CANBERRA RESTAURANTS</h2>
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row rest_text">

    </div>
</div>