@{
    ViewData["Title"] = "Restaurants";
}

<div class="container">
    <div class="row header">
        <div>
            <h2>CANBERRA RESTAURANTS</h2>
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row section_about">
        <div class="text col-sm-12 col-md-6">
            <h2>The Restaurants</h2>
            <p>
                Whether you're after the tastes of the Mediterranean or some oriental delights, then Canberra has the restaurant for you.
                <br><br>
                Check out what's on offer by checking out our restaurants below.
            </p>
        </div>
        <div class="text col-sm-12 col-md-6">
            <h2>Customer Reviews</h2>
            <p>
                If you want to find out more about the restaurants highlighted below there's, plenty of information to be found at our customer reviews page.
                <br><br>
                <a href="#">Click here</a> to head to the customer reviews page.
            </p>
        </div>
    </div>
    <div class="rest_list">
        <div class="rest_item">
            <img src="" />
            <div>
                <h2>Italian and Sons</h2>
                <p>
                    text here
                    <br><br>
                    <a href="#">Click Here</a> for the Italian and Sons website.
                </p>
            </div>
        </div>
        <div class="rest_item">
            <img src="" />
            <div>
                <h2>Jamie's Italian</h2>
                <p>
                    text here
                    <br><br>
                    <a href="#">Click Here</a> for the Italian and Sons website.
                </p>
            </div>
        </div>
        <div class="rest_item">
            <img src="" />
            <div>
                <h2>Chairman & Yip</h2>
                <p>
                    "The Chairman & Yip has become one of Canberra's longest standing and most highly regarded insitutions, having recieved numerous awards over the years, offering an ever consistent and professional quality of service for corporate dining, conferences and presentations" - Chairman & Yip Website
                    <br><br>
                    <a href="#">Click Here</a> for the Chairman & Yip website.
                </p>
            </div>
        </div>
    </div>
</div>
